<div id="phones-wrapper">

  <table>

  <th>Name</th>

  <th>Storage</th>

  <th>Colour </th>

  <th>Buy Price</th>

  <th>Sell Price</th>
  <% @phones.each do |phone| %>

  <tr>

  <td> <input type="text" id="name" value="<%= phone.name %>"></td>

  <td> <input type="text" id="storage" value="<%= phone.storage %>"></td>

  <td><input type="text" id="colour" value="<%= phone.colour %>"></td>

  <td> <input type="number" id="buy_price" value="<%= phone.buy_price%>"> </td>

  <td> <input type="number" id="sell_price" value="<%= phone.sell_price %>"> </td>

  <td class="button"> <a href="/phones/<%= phone.id%>/edit">Edit Price</a></td>

  <td class="button"> <a href="/phones/<%= phone.id %>/sell">Sell Phone</a></td>

  </tr>

  <% end %>

  </table>

</div>
